{% extends "base.twig" %}

{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="col-md-6">
                {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
            </div>
        {% endfor %}
    </div>
    {% if posts | length == 0 %}
        <p>There are no posts in this category.</p>
    {% endif %}
    {% include 'partial/pagination.twig' with {
        pagination : posts.pagination({show_all: false, mid_size: 3, end_size: 2})
    } %}
{% endblock %}